.ModalDialog {
    border: none;
}
.ModalHeader {
    border: none;
}

.ModalBody {
    max-height: 60vh;
    overflow-y: auto;
  }

.FormLabel {
    color: #0d6efd;
}

.FormInput {
    margin-bottom: 10px;
}

.ModalFooter {
    border: none;
}
