/* .App {
  text-align: center;
} */

body {
  background-image: url('./Assets/TGbackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  width: auto;
  height: 100vh;
}

.container {
  margin: auto;
  overflow: hidden;
  display: block;
}

.section {
  background-color: aliceblue;
  opacity: .8;
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.sorting {
  border: none;
  font-size: 15px;
  padding: 5px 5px;
  background-color: rgba(255,255,255,.1);
  text-align: center;
}

label {
  font-weight: bold;
}

.sortByLabel {
  margin-right: 3%;
}

.infoLabel {
  margin-right: 1%;
  color: white;
  font-size: 18px;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
  
}

.infoOption {
  margin-right: 3%;
  cursor: pointer;
}

#unfilledOnly {
  cursor: pointer;
}

.sortingBox {
  text-align: right;
  border: none;
  background-color: rgba(255, 253, 253, .1);
}

.first {
  margin-top: 10px;
}

@media screen and (max-width: 912px) {
  .section {
    width: 95%;
  }
}

@media screen and (max-width: 820px) {
  .section {
    width: 95%;
  }
  .sizeLabel {
    margin-bottom: 5px;
  }
}

@media screen and (width: 375px) {
  .sorting {
    font-size: 13px;
  }
}

@media screen and (max-width: 414px) {
  .section {
    width: 95%;
  }
  .sortByLabel {
    margin-right: 5%;
  }
  .genderLabel {
    margin-left: 10%;
  } 
  .infoOption {
    margin-right: 15%;
  }
}

@media screen and (max-width: 393px) {


  .sortByLabel {
    margin-right: 5%;
  }
  .genderLabel {
    margin-left: 4%;
  } 
  .genderDropdown {
    margin-right: 1px;
  }
  .infoOption {
    margin-right: 5%;
  }

}

@media screen and (max-width: 390px) {
  
  .sortByLabel {
    margin-right: 5%;
  }
  .genderLabel {
    margin-left: 5%;
  } 
  .infoOption {
    margin-right: 5%;
  }
}

@media screen and (max-width: 375px) {

  .sortByLabel {
    margin-right: 5%;
  }
  .infoOption {
    margin-right: 10px;
  }
  .familySizeDropdown {
    margin-right: 40px;
  }
}

@media screen and (max-width: 360px) {
  
  .sortByLabel {
    margin-right: 5%;
  }

  .sorting {
    padding: 0 0;
  }
  .genderLabel {
    margin-left: 0;
  } 
  .infoOption {
    margin-right: 5%;
  }
}

@media screen and (max-width: 280px) {
  
  .sorting {
    padding: 0 0;
  }
 .sortByLabel{
  margin-right: 50%;
  margin-bottom: 5px;
 }

.infoLabel {
  margin-right: 0;
}

.infoOption {
  margin-right: 15%;
  margin-bottom: 5px;
}
.genderLabel {
  margin-left: none;
}
 .familySizeDropdown {
  margin-right: 0;
 }

}
